.mag-component-check-list {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #333;
    width: 100%;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-check-list.hidden {
        display: none; }
    .mag-component-check-list > .body > .item {
        cursor: pointer;
        padding: 0 12px;
        vertical-align: middle;
        height: 72px;
        line-height: 72px; }
        .mag-component-check-list > .body > .item.mark {
            background-color: green;
            color: black; }
        .mag-component-check-list > .body > .item.focus {
            background-color: orange;
            color: black; }
        .mag-component-check-list > .body > .item.focus.mark {
            background-color: #ae7200;
            color: white; }
    .mag-component-check-list.horizontal {
        display: table;
        table-layout: fixed;
        width: 100%; }
        .mag-component-check-list.horizontal > .item {
            display: table-cell;
            text-align: center;
            vertical-align: middle; }
    .mag-component-check-list > .item .checkBoxWrapper > div {
        cursor: pointer;
        display: inline-block;
        width: 39px;
        height: 39px;
        line-height: 39px;
        border: 2px solid #888;
        background-color: #bbb;
        vertical-align: bottom;
        display: block; }
        .mag-component-check-list > .item .checkBoxWrapper > div.checked {
            background-color: orange; }
    .mag-component-check-list.focus {
        outline: 1px dashed red; }
